<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn btn-outline-primary"
       data-bs-toggle="tooltip"
       title="Add note"
       href="{% url 'note_create' %}?invoice_id={{ object.id }}">
        <i class="fa-solid fa-sticky-note"></i><span class="visually-hidden">Link text</span></a>
    <a class="btn-toolbar-item input-with-icon btn btn-outline-primary"
       href="{% url 'time_create' %}?invoice_id={{ object.id }}">
        <i class="fa-solid fa-plus"></i> Add Time</a>
</div>
