option_settings:
    aws:elasticbeanstalk:application:environment:
        DATABASE_URL: resolve:ssm
        DJANGO_SETTINGS_MODULE: backend.settings.production
packages: 
    yum:
        nodejs20-npm: []
        cairo-devel: []
        graphviz-devel: []
        postgresql15: []
        telnet: []
