option_settings:
    aws:elasticbeanstalk:application:environment:
        ACCESS_KEY_ID_AWS: "{{resolve:ssm:AWS_ACCESS_KEY_ID}}"
        SECRET_ACCESS_KEY_AWS: "{{resolve:ssm:AWS_SECRET_ACCESS_KEY}}"
        DATABASE_URL: "{{resolve:ssm:DATABASE_URL}}"
        DJANGO_SETTINGS_MODULE: backend.settings.production
        GITHUB_CLIENT_ID: "{{resolve:ssm:GITHUB_CLIENT_ID}}"
        GITHUB_SECRET: "{{resolve:ssm:GITHUB_SECRET}}"
        GITHUB_KEY: "{{resolve:ssm:GITHUB_KEY}}"
        RECAPTCHA_PRIVATE_KEY: "{{resolve:ssm:RECAPTCHA_PRIVATE_KEY}}"
        RECAPTCHA_PUBLIC_KEY: "{{resolve:ssm:RECAPTCHA_PUBLIC_KEY}}"
        SECRET_KEY: "{{resolve:ssm:SECRET_KEY}}"
        SENDGRID_API_KEY: "{{resolve:ssm:SENDGRID_API_KEY}}"

packages: 
    yum:
        nodejs20-npm: []
        cairo-devel: []
        graphviz-devel: []
        postgresql15: []
        telnet: []
