packages:
  yum:
    nodejs20-npm: []

files:
    "/etc/systemd/system/lounge.service":
        mode: "000644"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Lounge
            After=network.target

            [Service]
            User=webapp
            Group=webapp
            Environment=THELOUNGE_HOME=/var/app/current/lounge/.thelounge
            ExecStart=/var/app/current/lounge/node_modules/.bin/thelounge start

            [Install]
            WantedBy=default.target

commands:
    symlink:
        command: |
            sudo ln -sf /bin/node-20 /bin/node
            sudo ln -sf /bin/npm-20 /bin/npm
