Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: lounge-users-config
commands:
    symlink:
        command: |
            sudo ln -sf /bin/node-20 /bin/node
            sudo ln -sf /bin/npm-20 /bin/npm
    config:
        command: |
            sudo cp -vf /tmp/aclark.json /var/app/current/lounge/.thelounge/users/aclark.json

files:
    "/tmp/aclark.json":
        mode: "000644"
        owner: webapp
        group: webapp
        authentication: "S3Access"
        source: https://lounge-users-config.s3.amazonaws.com/aclark.json

    "/etc/systemd/system/lounge.service":
        mode: "000644"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Lounge
            After=network.target

            [Service]
            User=webapp
            Group=webapp
            Environment=THELOUNGE_HOME=/var/app/current/lounge/.thelounge
            ExecStart=/var/app/current/lounge/node_modules/.bin/thelounge start

            [Install]
            WantedBy=default.target

packages:
  yum:
    nodejs20-npm: []
