{% extends 'dashboard/index.html' %}
{% block dashhead_toolbar %}
    <a class="btn btn-outline-primary" href="{% url 'testmodel_create' %}">Create Marketing Email Recipient</a>
{% endblock %}
{% block dashboard %}
    <h1>Create Marketing Email</h1>
    <a class="btn btn-outline-primary"
       href="{% url 'create_marketing_email_message' %}">Create Marketing Email</a>
    <ul>
        {% for marketing_email_message in marketing_email_messages %}
            <li>
                {{ marketing_email_message.subject }}: {{ marketing_email_message.message }}
                <a href="{% url 'update_marketing_email_message' marketing_email_message.pk %}">Edit</a> |
                <a href="{% url 'delete_marketing_email_message' marketing_email_message.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <h1>Send Marketing Email</h1>
    <a class="btn btn-outline-primary" href="{% url 'testmodel_create' %}">Create Marketing Email Recipient</a>
    <form action="{% url 'send_marketing_email' %}" method="get">
        <button class="btn btn-outline-primary" type="submit">Send Marketing Email</button>
    </form>
    <ul>
        {% for test_model in test_models %}
            <li class="d-flex justify-content-between border-bottom">
                <a href="{% url 'testmodel_detail' test_model.pk %}">{{ test_model }}</a>
                <a class="btn btn-sm btn-outline-danger"
                   href="{% url 'testmodel_delete' test_model.pk %}">Delete</a>
                {% if test_model.is_subscribed %}
                    <a href="{% url 'unsubscribe' test_model.email test_model.unsubscribe_token %}">Unsubscribe</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
