{% extends 'dashboard/index.html' %}
{% block dashhead_title %}
    <a href="{% url 'testmodel_list' %}">
        <h1>Marketing</h1>
    </a>
{% endblock %}
{% block dashhead_toolbar %}{% endblock %}
{% block dashboard %}
    <h1>
        {% if form.instance.pk %}
            Update
        {% else %}
            Create
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Save</button>
    </form>
    <a href="{% url 'testmodel_list' %}">
        <button class="btn btn-outline-secondary" type="button">Cancel</button>
    </a>
</div>
{% endblock %}
